body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
    width:100%;
    padding: 15px;
    text-align: center;
    background-color: #000;
  }
  h1{
    font-size: 18px;
    text-align: center;
  }
  h2{
    font-size: 16px;
  }
  .atm{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: #000;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 20px;
  }
  .atm input{
    font-size:25px;
    width: 180px
  }
  .atm button{
    margin: 5px;
    padding: 20px;
  }